
android-applications/DessertClicker/app/build/intermediates/data_binding_base_class_logs_dependency_artifacts/debug/androidx.databinding.library.baseAdapters-binding_classes.json
android-applications/android-basics-kotlin-words-app/
.DS_Store
